<h1>wszystko z listy</h1>
<ul class="todo_list">
    
    {{#each tasks}}
        <li>
                {{!-- <th> --}}
                
         <p>ID: {{this.id}}, ZADANIE: {{this.task}}</p>
         {{!-- <form method="POST" action="/client/del/{{this.id}}?_method=DELETE">
                <button type="submit">Usuń</button>
        </form> --}}
     {{/each}}

</ul>

    <form method="POST" action="/list">
        {{!-- <label>
            <p>
                Dodaj zadanie
            </p>
            <p> --}}
                <input type="text" name="task">
                <input type="text" name="email">
            {{!-- </p>
                
        </label>
        <label> --}}
            <button type="submit">zapisz</button>
        {{!-- </label>
     --}}
    </form>


